*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(images/d.gif);
    background-size:100%;
    image-resolution: 720px;
    display: block;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    color: #05e2ff;
    background-color: #000000;
    border: 3px solid #ffffff;
    border-radius: 20px;
    width:max-content;  
    padding-bottom: 8px;
    margin-left: 270px;
    padding: 0 50px;
    padding-top: -200px;
}
ul{
    list-style-type: none;
    margin-top: 90px;
    cursor: pointer;
    padding-top: 30px;
}
ul li{
    padding: 30px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}
ul li a{
    background-color: #ffffff;
    border: 3px solid #000;
    color: #000000;
    padding: 10px 40px;
    border-radius: 40px;    
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    justify-content: space-between;
    display: block;
}
ul li a:hover{
    background-color:  rgb(111, 226, 220);
    color: #000;
    transform: 5.5s ease;
}
